.books-list {
  max-width: 480px;
  margin: 32px;

  @media (min-width: 1024px) {
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
  }

  &__home-link {
    margin-right: 12px;
  }

  &__new-book-link {
    margin-bottom: 16px;
  }

  &__search-form-container {
    margin-bottom: 24px;
  }

  &__highlighted-text {
    margin-bottom: 8px;
  }
}
